<h1>Login To Enter The Group Web Service</h1>
<br /><%= link_to "Register Your Account", { :controller => "users", :action =>"new" } %>

<%= render 'form' %>

<%= link_to 'Back', user_sessions_path %>

